body {
  background-color: #eef2f3;
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #2c3e50;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
}
